.modal-dialog {
  top: 50%;
  transform: translate(0, -50%) !important;
  position: relative;
  .modal-content {
    padding: 20px;
    border: none !important;
    .modal-btn {
      button {
        float: right;
        height: 50px;
        border-radius: 10px;
        background-color: #fbceb5;
        border: none;
        min-width: 150px;
      }
    }
  }
  .close-btn {
    position: absolute;
    top: -30px;
    right: 0;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
  }
}
