.modal-dialog {
    top: 50%;
    transform: translate(0, -50%)!important;
  .modal-content {
    padding: 20px;
    border: none !important;
    .modal-btn {
      button {
        float: right;
        height: 50px;
        border-radius: 10px;
        background-color: #fbceb5;
        border: none;
        min-width: 150px;
      }
    }
  }
}
