.login {
  background-image: url("../../../../public/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 50px 0;

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-input {
      width: 500px;
      .input {
        position: relative;
        width: max-content;
        margin: 10px;
        input {
          height: 50px;
          width: 300px;
          border: 1px solid rgba($color: white, $alpha: 0.5);
          outline: none;
          border-radius: 10px;
          padding: 2px 30px;
          background: transparent;

          &:hover {
            background: rgba($color: #f5f3f3, $alpha: 0.3);
            border: 1px solid rgba($color: white, $alpha: 1);
          }
        }
      }
    }
    .icon-eye {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }

    .button-sign-in,
    .button-sign-up {
      button {
        width: 300px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #fbceb5;
        font-weight: 600;
      }
    }
    .create-account,
    .log-in {
      span,
      b {
        font-size: 12px !important;
      }
      b:hover {
        cursor: pointer;
      }
    }
  }
  .sign-in {
    .forgot-password {
      width: 300px;
      margin-bottom: 10px;
      a {
        display: block;
        float: right;
        text-decoration: none;
        font-size: 12px;
        color: black;
      }
    }
  }

  .form-hidden {
    opacity: 0;
    display: none;
  }
}
